/*BASE COLORS*/
$base_color_blue: #5bc0de;
$base_color_hover: #0ed8d6;
$base_color_headline: #333;
$base_color_text: #777;
$base_color_portfolio: #f7f7f7;
$base_color_socialmedia: #222;

/*BASE FONTS*/
$base_font_italics: 'Droid Serif', italic;
$base_font_text: 'Robo Slab', sans-serif;
$base_font_headlines: 'Montserrat', sans-serif;

/*FONT SIZES*/